@import url(common.css);
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{box-sizing: border-box;}
body{
  font-family: 'Montserrat', sans-serif; 
  background-color: #eee;
  font-size: 15px;
  line-height: 1.5em;
}


/* Header */
header{
  background-color: #000;
  width: 100%;
  height: 60px; 
  position: fixed;
  z-index: 100;
}
nav{
  width: 900px;
  /* width: 1280px; */
  height:inherit;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo img{filter: invert();} /* 색상반전 */

  .gnb{display: flex;}

  .gnb li a{
    color: #fff;
    margin: 10px;
    transition: 0.35s;
  }

  .gnb li a:hover,.sns a:hover{
    color: red;
  }

  .trigger{
    display: none;
  }

/* mobile */

@media (max-width:767px){

header{
  height: auto;  /* 모바일은 주로 w:100%,h:auto */
}
nav{
  width: inherit;
  flex-direction: column;
  position: relative;
}

.logo{padding: 10px;}

.gnb{
  width: 100%;
  /* border: 1px solid #000; */
  flex-direction: column; 
  text-align: center;
  border-top: 1px solid rgba(0,0,0,0.1);
}
.gnb li a{
  display: block;
  padding: 15px;
  margin: 0;
}
.sns{
  width: 100%;
  background-color: #7f8fa6;
  padding: 7px;
  text-align: center;
  
}
.sns a{color:#000;}

.gnb,.sns{display: none;}

/* Trigger */
.trigger{
  /* border: 1px solid red; */
  display: block;
  position: absolute;    
  width: 25px;
  height: 15px;
  top: 20px;
  right: 15px;
}
.trigger span{
  background-color: #fff;
  height: 1px;
  position: absolute;
  width: 100%;
  transition: 0.3s;
}
.trigger span:nth-child(1) {
  top: 0;
}
.trigger span:nth-child(2) {
  top: 50%;
}
.trigger span:nth-child(3) {
  top: 100%;
}
.trigger.active span:nth-child(1) {
  transform: rotate(45deg);
  top: 50%;
}
.trigger.active span:nth-child(2) {
  opacity: 0;
}
.trigger.active span:nth-child(3) {
  transform: rotate(-45deg);
  top: 50%;
}

}


main img{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 900px;
  margin: auto;
}


section{
  /* border: 1px solid #000; */
  width: 1200px;
  margin: auto;
  display: flex;
}
.post{display: flex;}
.post:nth-child(odd){flex-direction: column; }/* 홀수 */
.post:nth-child(even){flex-direction: column-reverse;}/* 짝수 */

.image{
  width:300px;
  height:200px;
}

.image img{
  /* border: 1px solid red; */
  display: block;/* img는 inline-block으로 약간의 마진이 있다 */
  width: 100%;
  transition: .3s;

}
.image img:hover{
  transform: scale(1.05);
}

.desc{
  width: 100%;
  /* background-color: #1dd1a1; */
  color: #333;
  text-align: center;
  height: 200px;
  font-size: 10px;
  display: flex;
  flex-direction: column;
  transition: 0.35s;
  /* align-items: center; */
  justify-content: center;/*메인축의 방향이 컬럼이 되었을 떄는 메인축의 방향이 바뀌므로justify-content와 align-items로 반대로 생각하면 된다 */
}
.desc h2{
  font-weight: bold;
}
.desc p{
  font-size: 14px;
  height: 600px;
  color: #333;
  padding: 15px;
}

.desc:hover{
  color: red;
}

/*  푸터 */
.btn-top{
  position: fixed;
  right: 20px;
  bottom: 20px;
  font-size: 26px;
  color: #fff;
  background-color: #000;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 37px;
  transform: translateY(100px);
  opacity: 0;
  transition: 0.5s;
}
.btn-top.active{
  transform: translateY(0);
  opacity: 1;
}
.btn-top:hover{
  color: #000;
  background-color: #fff;
}
section p{
  font-size: 3em;
  color: #ddd;
  line-height: 2em;
}


/* Tablet */
@media (min-width:768px) and (max-width:1024px){
  
  section{
    width: 100%;
    padding: 30px;
    flex-wrap: wrap;
  }
  .post:nth-child(odd){
    flex-direction: row;
  }
  .post:nth-child(even){
    flex-direction: row-reverse;
  }
  .image, .desc{
    flex: 1;
    height: 100%;
  }
}

/* mobile*/
@media (max-width:767px){
  
  section{
    width: 100%;
    padding: 10px;
    flex-direction: column;
  }
  .post:nth-child(even){
    flex-direction: column;
  }
  .image{
    width: 100%;
  }

  .desc h2{
    height: 200px;
    margin-top: 80px;
  }

}

